body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1390px 650px;
}
form{
    border: solid;
    width: 400px;
    margin-left: 100px;
    padding-left: 10px;
}
label{
    font-size: bold;
    color: black;
}
input{
    height: 35px;
    width: 300px;
    border-radius: 20px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 50px;
    width: 150px;
    background-color: blanchedalmond;
    color: red;
    font-size: 22px;
    border-radius: 10px;
}
h1{
    text-align: black;
}